/node_modules
/public/build
/public/site/build
/public/storage
/storage/*.key
!/vendor/
/vendor/*
!/vendor/mint/
*.lock
.env
.env.backup
.phpunit.result.cache
ray.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
